@font-face {
    font-family: 'SF UI Display Ultralight';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Ultralight'), url('sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'SF UI Display Thin';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Thin'), url('sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'SF UI Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Light'), url('sf-ui-display-light-58646b33e0551.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'SF UI Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Medium'), url('sf-ui-display-medium-58646be638f96.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'SF UI Display Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Semibold'), url('sf-ui-display-semibold-58646eddcae92.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'SF UI Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Bold'), url('sf-ui-display-bold-58646a511e3d9.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'SF UI Display Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Heavy'), url('sf-ui-display-heavy-586470160b9e5.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'SF UI Display Black';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Black'), url('sf-ui-display-black-58646a6b80d5a.woff') format('woff');
    }

body {
    margin: 2%;
}

h1 {
    font-family: 'SF UI Display Black';
    font-size: 2.5em;
    margin-top: 0px;
}

.study_status {
    border: solid 3px #1329e6;
    color:#fff;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.gender_status {
    border: solid 3px #1329e6;
    color:#fff;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.study_status input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.gender_status input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.study_status label {
    color: #1329e6;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
}

.gender_status label {
    color: #1329e6;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
}
  
.study_status input[type=radio]:checked + label {
    background:#1329e6;
    color: #ffffff;
}

.gender_status input[type=radio]:checked + label {
    background:#1329e6;
    color: #ffffff;
}

.study_status label + input[type=radio] + label {
    border-left: solid 4px lighten(#1329e6,60%);
}

.gender_status label + input[type=radio] + label {
    border-left: solid 4px lighten(#1329e6,60%);
}

.bank_selection {
    font-family: 'SF UI Display Semibold';
}

.name {
    font-family: 'SF UI Display Semibold';
}

input[type="radio"] { 
    margin-left: 0px; 
}

input[type="radio"] + label { 
    font-family: 'SF UI Display Medium';
    font-size: 14px; 
}

#create_application {
    width: 300px;
    height: 60px;
    font-family: 'SF UI Display Medium';
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: #000;
    background-color: rgb(171, 210, 250);
    border: none;
    border-radius: 45px;
    border-width: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: 5px;
}
  
#create_application:hover {
    background-color: #1329e6;
    box-shadow: 0px 15px 20px rgba(25, 26, 25, 0.4);
    color: #fff;
}

.fa-file-pdf {
    font-size: 22px;
    margin-right: 18px;
}
